.product-page {
  padding: 160px 0;
}

.product-content {
  display: flex;
}

.product-images li {
  list-style-type: none;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.product-images img {
  height: 105%;
}

.main-image {
  height: 511px;
  width: 610px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-image img {
  height: 100%;
}

.product-desc {
  margin-left: 100px;
  max-width: 292px;
}

.product-desc .bold {
  margin-bottom: 16px;
}

.attr {
  margin-top: 43px;
}

.product-desc h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.options button {
  text-transform: uppercase;
  width: 61px;
  height: 45px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.options .selected {
  background-color: #1d1f22;
  color: #fff;
}

.options .selected-color {
  border: 4px solid #333;
}

.price {
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0;
}

.add-to-cart-btn {
  width: 292px;
  height: 52px;
  background-color: #5ece7b;
  font-weight: 600;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 40px;
  cursor: pointer;
}

.out-of-stock-btn {
  background-color: #f1f1f1;
  color: #1d1f22;
  cursor: default;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.59px;
  color: #1d1f22;
}
