@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.warning {
  color: brown;
}
